.img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-right: 15px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.24);

  &:hover {
    box-shadow: 0 14px 50px 0 rgba(0, 0, 0, 0.24);
  }
}

.description {
  margin: 0;
}

.link {
  cursor: pointer;
}

.wrapper {
  vertical-align: top;

  & a {
    color: dimgrey;
    font-weight: bold;
    font-style: italic;
  }
}
