.photos {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.photo {
  margin-right: 10px;
}

.aboutText {
  margin-right: 40px;
}

.aboutMe {
  max-width: 750px;
}

@media screen and (max-width: 700px){
  .myPhoto {
    width: 150px;
  }
}


