.container {
  display: grid;
  grid-template-rows: 50px 1fr 80px;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.main {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.main * {
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-name: opacity;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
