.header {
  background-color: black;
  display: flex;
  align-items: center;
}

.menu {
  max-width: 1250px;
  margin: 0 auto;
  flex: 1 0 auto;
}

.menuItems {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menuItem {
  margin-right: 10px;
  text-decoration: none;
  color: white;

  &_active {
    text-decoration: underline;
  }
}
