.name {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.professionalBackground {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.table {
  border-collapse: separate;
  border-spacing: 0 8px;
}
